<% content_for :body do %>
  <section id="member_groups">
    <% @groups.each do |group| %>
      <% if group.items.size > 0 %>
        <section>
          <h2><%= group.name %></h2>
          <ul id="members">
            <% group.items.each do |item| %>
              <li>
                <%= link_to item.name, refinery.members_group_item_path(group, item) %>
              </li>
            <% end %>
          </ul>
        </section>
      <% end %>
    <% end %>
  </section>
<% end %>

<%= render '/refinery/content_page' %>
